AssemblyAI_audio_to_text_transcription_and_summary_creation.json
{
  "name": "No credentials! - AssemblyAI audio to text transcription",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1868,
        200
      ],
      "id": "94bb81f3-3198-45f3-93c5-b75ba969f9a9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "oCIZ5iYhUW8PJ1Tj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Insert Link",
        "formDescription": "The starting audio link",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Audio",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        2376,
        280
      ],
      "id": "3c114a99-02b2-4df7-bb91-7b13b8d54d6b",
      "name": "If given Audio Link1",
      "webhookId": "fd49985b-b21e-4373-b3b4-80b2209c4c01",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# IF INPUT IS A WORDPRESS POST",
        "height": 480,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1288,
        -140
      ],
      "typeVersion": 1,
      "id": "44ed3229-79ce-47ce-ae6a-ada2767094c2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## IF INPUT IS AUDIO LINK",
        "height": 220,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2276,
        220
      ],
      "typeVersion": 1,
      "id": "a08d0296-eb85-48fa-a1aa-903c37248869",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "### INPUT WAS WP POST",
        "height": 200,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4296,
        -10
      ],
      "typeVersion": 1,
      "id": "8c10896c-fcef-409c-a144-091a2953c110",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "### INPUT WAS AUDIO LINK",
        "height": 200,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4296,
        290
      ],
      "typeVersion": 1,
      "id": "26a42af5-02a6-4623-a8a5-ab392b211f59",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "# SUMMARY CREATION AND ALL APPOVALS",
        "height": 220,
        "width": 1480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4734,
        220
      ],
      "typeVersion": 1,
      "id": "fe86f51e-c4ce-4046-8f15-a2a611b7af53",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "### INPUT WAS AUDIO LINK",
        "height": 200,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6222,
        340
      ],
      "typeVersion": 1,
      "id": "3045d0a8-1c8b-4747-8001-43e94cb4672a",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## INPUT WAS WP POST",
        "height": 220,
        "width": 860
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6222,
        120
      ],
      "typeVersion": 1,
      "id": "40fcf4be-624a-49a4-8d97-14a300d663e2",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "# TRANSCRIPTION USING ASSEMBLYAI",
        "height": 420,
        "width": 2220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2526,
        70
      ],
      "typeVersion": 1,
      "id": "7517f2f6-70dc-458b-ae9b-e391511e5dd1",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Add wordpress domain and credentials\n",
        "height": 120,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        140
      ],
      "typeVersion": 1,
      "id": "b035639e-23a5-4457-be99-51ec2993cc61",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Add OpenAI credentials\n",
        "height": 80,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1820,
        320
      ],
      "typeVersion": 1,
      "id": "725bd1e4-140a-4a56-9823-e94977c9f66a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Add AsemblyAI credentials\n",
        "height": 200,
        "width": 1020,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2796,
        140
      ],
      "typeVersion": 1,
      "id": "324a80c8-f253-4d46-a645-29093e41d0c9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Add WP credentials if starting from a WP post.\n### Add any necessary credentials if starting with an audio link\n",
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2560,
        320
      ],
      "typeVersion": 1,
      "id": "69182e76-5b43-4b86-9008-b124507faf3e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Add Google Docs credentials\n",
        "height": 80,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4300,
        480
      ],
      "typeVersion": 1,
      "id": "0e0d7483-2c6d-4de3-8865-49aec76e01a7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Add Google Docs credentials\n",
        "height": 80,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4520,
        440
      ],
      "typeVersion": 1,
      "id": "85ee0f1b-a583-457d-8b2f-ee164f1063c6",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Add Google Docs credentials\n",
        "height": 80,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4980,
        440
      ],
      "typeVersion": 1,
      "id": "0e38bc7e-843c-40f3-b314-938c2aaa7458",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Add Google Docs credentials\n",
        "height": 80,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5560,
        440
      ],
      "typeVersion": 1,
      "id": "d808ca24-465c-4384-b0e1-11f0090c9374",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Add Google Docs credentials\n",
        "height": 80,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6460,
        540
      ],
      "typeVersion": 1,
      "id": "7239c754-d183-4912-8f21-b3d89b109fe7",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Add Google Docs credentials\n",
        "height": 80,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6900,
        340
      ],
      "typeVersion": 1,
      "id": "f7eb959a-103d-40c6-9e2f-f7fd81e8d14d",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Add wordpress credentials\n",
        "height": 80,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6480,
        40
      ],
      "typeVersion": 1,
      "id": "77f54ad4-e6e7-4a42-933e-02159fb70a1e",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Add Gmail credentials and email address\n",
        "height": 120,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4760,
        440
      ],
      "typeVersion": 1,
      "id": "6a59ea80-d7f5-4ff4-9e4d-8d15622ca225",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Add Gmail credentials and email address\n",
        "height": 120,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5800,
        440
      ],
      "typeVersion": 1,
      "id": "f8e7d770-fa3e-4a16-8429-be9b689224db",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Add OpenAI credentials\n",
        "height": 80,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5260,
        440
      ],
      "typeVersion": 1,
      "id": "5f2a75d3-dda5-4967-9d1d-ecd7fa1e0ac1",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4576,
        80
      ],
      "id": "5f86684c-54e9-4d36-8e6d-00f918511b54",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "efCrgGock76zBb21",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add Google Drive credentials\n",
        "height": 80,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4560,
        0
      ],
      "typeVersion": 1,
      "id": "17025199-c4a6-41ad-91c5-c0b045a40fa7",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Add Google Docs credentials\n",
        "height": 80,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4300,
        180
      ],
      "typeVersion": 1,
      "id": "47462699-fe9f-4a06-a6f9-c9dc58d909f6",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "sendTo": "(your email here)",
        "subject": "Completed Transcript and Summary",
        "message": "=This is your completed transcript and summary. https://docs.google.com/document/d/{{ $('Add summary to Document').item.json.documentId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6712,
        180
      ],
      "id": "8d20b400-9fae-4533-9a8e-8f9981a99a69",
      "name": "Email Transcript",
      "webhookId": "c7558ddc-28f2-4c28-bf03-7d3965cd9cd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "gAfr8QB7pzLQ1idl",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add Gmail credentials and email address\n",
        "height": 120,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6220,
        540
      ],
      "typeVersion": 1,
      "id": "3e0b21b5-5863-493e-be83-8b83bd345486",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Add Gmail credentials and email address\n",
        "height": 120,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6680,
        340
      ],
      "typeVersion": 1,
      "id": "037afb12-fa3b-45c9-ab54-ab285741b623",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Add Google Docs credentials\n",
        "height": 80,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6220,
        40
      ],
      "typeVersion": 1,
      "id": "6d283bc5-fae4-4823-a233-5e6a18d3854c",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "output.Audio",
              "newKey": "Audio"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2376,
        80
      ],
      "id": "d24fde6f-4a9d-4db6-a8eb-129925c6f701",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "formTitle": "Insert Post ID",
        "formDescription": "If input is WP Post",
        "formFields": {
          "values": [
            {
              "fieldLabel": "postID",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1340,
        -20
      ],
      "id": "16df00fc-9a03-46d7-bc7b-1e9d06b9db8d",
      "name": "If given WP Post",
      "webhookId": "63c63fa0-7acd-46e4-b00d-f6c2ec082101"
    },
    {
      "parameters": {
        "url": "=https://(your wp domain).com/wp-json/wp/v2/posts/{{ $json.postID }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        -20
      ],
      "id": "2f885e1a-fe41-42a6-8b2e-e6dd0e437742",
      "name": "Retrieve post information",
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2jVTrhwHhwkCVFVq",
          "name": "Unnamed credential"
        }
      },
      "notes": "found from the wordpress post"
    },
    {
      "parameters": {
        "text": "={{ $json.content.rendered }}",
        "attributes": {
          "attributes": [
            {
              "name": "Speaker",
              "description": "=The speaker of the sermon. Default: Unanimous",
              "required": true
            },
            {
              "name": "Title",
              "description": "The title of the sermon. Default: Untitled",
              "required": true
            },
            {
              "name": "Audio",
              "description": "The mp3 file link. Default: none",
              "required": true
            },
            {
              "name": "Passage",
              "description": "The scripture passage the sermon was preached on. The Default is: N/A",
              "required": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        1780,
        -20
      ],
      "id": "66faa961-c896-4fbb-9fc6-e7d49f8a27f8",
      "name": "Parse post data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a08b03aa-8c2d-4ee1-a004-6ec37c7c160b",
              "leftValue": "={{ $json.output.Audio }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2156,
        -20
      ],
      "id": "5be3fc52-200e-487f-bc68-e259468fd45c",
      "name": "Checks if no audio file"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2376,
        -120
      ],
      "id": "a92b6cbb-8c0e-497f-893c-36b83e274fe0",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "url": "={{ $json.Audio }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2596,
        180
      ],
      "id": "f9c7cd22-585f-4d0b-82ce-809ff51acb4d",
      "name": "Convert audio link to file",
      "credentials": {
        "httpBasicAuth": {
          "id": "and94ZObqAmSRoTQ",
          "name": "WordPress account 3"
        },
        "wordpressApi": {
          "id": "and94ZObqAmSRoTQ",
          "name": "Wordpress account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "(api key)"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        180
      ],
      "id": "11ef04a9-e4df-4e50-bd4a-a464404018cf",
      "name": "Upload Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "(api key)"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={   \"audio_url\": \"{{ $json.upload_url }}\",   \"speaker_labels\": true,   \"auto_chapters\": true,   \"auto_highlights\": true,   \"summary_model\": \"informative\",   \"speech_model\": \"best\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3036,
        180
      ],
      "id": "d006930b-b123-499f-9f39-14a0a0d0db0c",
      "name": "Transcribe Audio"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "(api key)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3256,
        180
      ],
      "id": "a07da7e5-ca7c-497a-a266-50ab5f4d4dac",
      "name": "Transcript Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "237edd35-a196-43d8-9a85-a0526c5ddd2b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6afc49fc-4e7a-41f3-b72f-2aa054a51e3f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "queued",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3476,
        180
      ],
      "id": "8e6f907d-8506-48a2-b56b-e37a9aa141ff",
      "name": "Checking Status"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}/paragraphs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "(api key)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3696,
        180
      ],
      "id": "2887f59e-473f-4e7b-bfee-827250c5b6e5",
      "name": "Get Paragraphs in Transcript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b9b21d8-b3bf-4599-9ec3-7b22687e52ba",
              "name": "transcript",
              "value": "={{ $json.paragraphs.map(p => p.text).join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3916,
        180
      ],
      "id": "dd6abd6b-6f84-436c-bdac-ec841178bbcf",
      "name": "Combine Paragraphs in Transcript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c5dfd6a-7b9c-4d24-b52b-99a3c2e6bfc4",
              "leftValue": "={{ $('Parse post data').item.json.output.Title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4136,
        180
      ],
      "id": "76432b3f-f825-4254-a88e-6cb995b50865",
      "name": "Checks Starting Input",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "folderId": "0ByuSDPyPyLCufkY0LW94c1c5c05lTjFOYWFNOUFiWDFITV9HMlBUN05idVRHVmdyTlk2cTg",
        "title": "={{ $('Parse post data').item.json.output.Title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4356,
        30
      ],
      "id": "281d1b15-713c-4ca1-9d0d-1a9d53b9b99c",
      "name": "Create Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "folderId": "0ByuSDPyPyLCufkY0LW94c1c5c05lTjFOYWFNOUFiWDFITV9HMlBUN05idVRHVmdyTlk2cTg",
        "title": "="
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4356,
        330
      ],
      "id": "26cb9a14-2816-4b46-aa6e-5ffd8f19d7b6",
      "name": "Create Document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=(Do not delete this content in parentheses or the workflow will break, or the <b> and </b> tags)\n\n<b>Full Transcript:</b>\n{{ $('Combine Paragraphs in Transcript').item.json.transcript }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4576,
        280
      ],
      "id": "3b69a765-a022-4c25-9cc9-9e2d4a01b89e",
      "name": "Put Transcript in Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "(your email here)",
        "subject": "Transcript Approval",
        "message": "=Here is your sermon transcript. Please make any necessary edits and then click approve. You can change the title if necessary.\n\nhttps://docs.google.com/document/d/{{ $json.documentId }}\n\nAfter approval, a summary will be created and you will be emailed with another prompt to approve.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4796,
        280
      ],
      "id": "5f51944c-ce59-47c5-b6fe-bbaf059bcf6d",
      "name": "Transcript Approval",
      "webhookId": "0c646506-c9a6-43e1-a6a4-d86227031fbe",
      "credentials": {
        "gmailOAuth2": {
          "id": "gAfr8QB7pzLQ1idl",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Put Transcript in Document').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5016,
        280
      ],
      "id": "33c7cbaa-6338-412b-84f7-57b398e3b151",
      "name": "Get Updated Transcript",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a few sentence summary of the following text that is bibically accurate without any extra commentary except the summary. Break the summary into paragraphs using HTML if needed. Do not add a header to the summary.\n\nText:\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5236,
        280
      ],
      "id": "ab04935e-bde4-4a2f-a9cb-7d19e1e72a99",
      "name": "Summary Creation",
      "credentials": {
        "openAiApi": {
          "id": "oCIZ5iYhUW8PJ1Tj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Get Updated Transcript').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "(Do not delete this content in parentheses or the workflow will break, or the <b> and </b> tags)",
              "replaceText": "=<b>Summary:</b>\n{{ $json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5612,
        280
      ],
      "id": "9198fae6-8397-4d9e-a2d4-b47e54c8ffe0",
      "name": "Add summary to Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "(your email here)",
        "subject": "Summary Approval",
        "message": "=The summary has been added onto the transcript. Please make any necessary edits and then click approve. You can change the title if necessary.\n\nhttps://docs.google.com/document/d/{{ $json.documentId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5832,
        280
      ],
      "id": "8e16924d-869d-4c54-9090-1c736d10c749",
      "name": "Summary/Transcript Approval",
      "webhookId": "0c646506-c9a6-43e1-a6a4-d86227031fbe",
      "credentials": {
        "gmailOAuth2": {
          "id": "gAfr8QB7pzLQ1idl",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61cca30a-3ccc-4f2e-b1b2-70f38d5fa859",
              "leftValue": "={{ $('Parse post data').item.json.output.Audio }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6052,
        280
      ],
      "id": "b3bc2c6b-f270-471e-9c01-8e110d9838a1",
      "name": "Check original input",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Put Transcript in Document').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6492,
        380
      ],
      "id": "e165b401-d66b-43aa-9c3b-3fe33fac7070",
      "name": "Output: Document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Put Transcript in Document').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6932,
        180
      ],
      "id": "6a365372-b041-4d69-9a4d-0434ebca9207",
      "name": "Output: Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Put Transcript in Document').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6272,
        180
      ],
      "id": "97e8a4f1-ebf0-4557-a3fa-346f204cc27e",
      "name": "Get Summary/Transcript",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "(your email here)",
        "subject": "Completed Transcript and Summary",
        "message": "=This is your completed transcript and summary. https://docs.google.com/document/d/{{ $('Add summary to Document').item.json.documentId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6272,
        380
      ],
      "id": "918bd216-850c-454e-b8d9-1a9a16800e74",
      "name": "Email Transcript2",
      "webhookId": "c7558ddc-28f2-4c28-bf03-7d3965cd9cd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "gAfr8QB7pzLQ1idl",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('If given WP Post').item.json.postID }}",
        "updateFields": {
          "title": "={{ $('Parse post data').item.json.output.Title }}",
          "content": "=<b>Title:</b> {{ $('Parse post data').item.json.output.Title }}\n\n<figure class=\"wp-block-audio\"><audio controls src=\"{{ $('Parse post data').item.json.output.Audio }}\"></audio></figure>\n<b>Speaker:</b> {{ $('Parse post data').item.json.output.Speaker }} \n\n<b>Passage:</b> {{ $('Parse post data').item.json.output.Passage }} \n\n{{ $json.content }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        6492,
        180
      ],
      "id": "da2fafea-92e3-4202-bc32-075686317cd9",
      "name": "Update Original Post Output: WP Post",
      "credentials": {
        "wordpressApi": {
          "id": "and94ZObqAmSRoTQ",
          "name": "Wordpress account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Parse post data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If given Audio Link1": {
      "main": [
        [
          {
            "node": "Convert audio link to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Transcript": {
      "main": [
        [
          {
            "node": "Output: Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Convert audio link to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If given WP Post": {
      "main": [
        [
          {
            "node": "Retrieve post information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve post information": {
      "main": [
        [
          {
            "node": "Parse post data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse post data": {
      "main": [
        [
          {
            "node": "Checks if no audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks if no audio file": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert audio link to file": {
      "main": [
        [
          {
            "node": "Upload Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Transcript Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Status": {
      "main": [
        [
          {
            "node": "Checking Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checking Status": {
      "main": [
        [
          {
            "node": "Transcript Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Paragraphs in Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Paragraphs in Transcript": {
      "main": [
        [
          {
            "node": "Combine Paragraphs in Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Paragraphs in Transcript": {
      "main": [
        [
          {
            "node": "Checks Starting Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks Starting Input": {
      "main": [
        [
          {
            "node": "Create Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document": {
      "main": [
        [
          {
            "node": "Put Transcript in Document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document1": {
      "main": [
        [
          {
            "node": "Put Transcript in Document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Put Transcript in Document": {
      "main": [
        [
          {
            "node": "Transcript Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Approval": {
      "main": [
        [
          {
            "node": "Get Updated Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Updated Transcript": {
      "main": [
        [
          {
            "node": "Summary Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Creation": {
      "main": [
        [
          {
            "node": "Add summary to Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add summary to Document": {
      "main": [
        [
          {
            "node": "Summary/Transcript Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary/Transcript Approval": {
      "main": [
        [
          {
            "node": "Check original input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check original input": {
      "main": [
        [
          {
            "node": "Get Summary/Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Transcript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Summary/Transcript": {
      "main": [
        [
          {
            "node": "Update Original Post Output: WP Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Transcript2": {
      "main": [
        [
          {
            "node": "Output: Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Original Post Output: WP Post": {
      "main": [
        [
          {
            "node": "Email Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2ahNkrEQjFMMaqs9",
    "timezone": "America/Los_Angeles"
  },
  "versionId": "6dc483ba-4110-46f1-be3a-ce1b4219c838",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "404da7777b9ae3a6ef4a84e36ff3f6ed18ddf4e223c2dd8f9560a48938216fe2"
  },
  "id": "PAhyh3ofi163Aczx",
  "tags": []
}
